<h1>Add item to cart</h1>

<%= simple_form_for @p do |f| %>

  <%= f.hidden_field :cart_id, value: current_user.cart.id %>
  <%= f.hidden_field :item_id, value: current_item.id %>
  <%= f.input :quantity %>

  <p><%= f.submit 'Add to cart' %></p>
  <p><%= link_to 'Items path', items_path %></p>
<% end %>	