<h1>New ship</h1>

<%= form_for @ship do |s| %>
    
    <p><%= s.label('Ship name') %></p>
    <%= s.text_field :name %>

    <p><%= s.label('Ship price') %></p>
    <%= s.text_field :price %>

    <p><%= s.submit %></p>

<% end %>

<%= link_to 'Back', ships_path %>