<h1>New plane</h1>

<%= form_for @plane do |p| %>
  
    <p><%= p.label('Name') %></p>
    <%= p.text_field :name %>

    <p><%= p.label('Price') %></p>
    <%= p.text_field :price %>

    <p><%= p.submit %></p>

    <p><%= link_to 'Back', planes_path %></p>

<% end %>