<h1>Edit phone</h1>

<%= form_for @phone do |p| %>

  <p><%= p.label('Name') %></p>
  <%= p.text_field :name %>

  <p><%= p.label('Price') %></p>
  <%= p.text_field :price %>

  <p><%= p.submit %></p>

<% end %>

<%= link_to 'Back', phones_path %>