<h1>Edit weapon</h1>

<%= form_for @weapon do |w| %>
  
  <p><%= w.label('Name') %></p>
  <%= w.text_field :name %>

  <p><%= w.label('Price') %></p>
  <%= w.text_field :price %>

  <p><%= w.submit %></p>

<% end %>

<%= link_to 'Back', weapons_path %>