<!DOCTYPE html>
<html>
  <head>
    <title>PicturesShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <% if current_user %>
      <%= current_user.name %> | <%= link_to 'Sign out', sign_out_path %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %> | <%= link_to 'Sign up', sign_up_path %>
    <% end %>    

    <%= yield %>
  </body>
</html>
