<h1><%= @packet.name %></h1>

<ul>
	<li>Price:  <%= @packet.price %></li>
</ul>

<%= link_to 'Edit', edit_packet_path %>
<%= link_to 'Delete', @packet, method: :delete, data: {confirm: 'Are you sure?'} %>

<p><%= link_to 'Back', packets_path %></p>