<h1>Sign up</h1>

<%= form_for @user do |f| %>

  <p><%= f.label :name %></p>
  <%= f.text_field :name %>

  <p><%= f.label :email %></p>
  <%= f.email_field :email %>

  <p><%= f.label :password %></p>
  <%= f.password_field :password %>

  <p><%= f.label :password_confirmation %></p>
  <%= f.password_field :password_confirmation %>

  <p><%= f.submit 'Sign up' %></p>

<% end %>	

<%= link_to 'Sign in', sign_in_path %>