<h1>Edit profile</h1>


<%= form_for @profile do |f| %>

  <p><%= f.label :country %></p>
  <%= f.text_field :country %>

  <p><%= f.label("Your sex") %></p>
  <%= f.label :sex, "Man", value: "man" %>
  <%= f.radio_button :sex, "man" %>

  <%= f.label :sex, "Woman", value: "woman" %>
  <%= f.radio_button :sex, "woman" %>

  <p><%= f.label :avatar %></p>
  <%= f.file_field :avatar %>

  <p><%= f.submit %></p>


<% end %>

<%= link_to 'Back', @profile %>